<!DOCTYPE html> 
<html>
	<head>
		<meta charset="utf-8">		
		<title>Data Visualization Project</title>
		
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
		
		<link rel="stylesheet" href="css/demo.css">
		<link rel="stylesheet" href="css/font-awesome.css">
		<link rel="stylesheet" href="css/sky-tabs.css">
		
		<!--[if lt IE 9]>
			<link rel="stylesheet" href="css/sky-tabs-ie8.css">
			<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
			<script src="js/sky-tabs-ie8.js"></script>
		<![endif]-->
	</head>

	<body class="bg-cyan">
		<div class="body">
		
			<!-- tabs -->
			<div class="sky-tabs sky-tabs-pos-left sky-tabs-anim-flip sky-tabs-response-to-icons">
				<input type="radio" name="sky-tabs" checked id="sky-tab1" class="sky-tab-content-1">
				<label for="sky-tab1"><span><span><i class="fa fa-bolt"></i>Project Home</span></span></label>
				
				<input type="radio" name="sky-tabs" id="sky-tab2" class="sky-tab-content-2">
				<label for="sky-tab2"><span><span><i class="fa fa-picture-o"></i>Average Math Test Scores</span></span></label>
				
				<input type="radio" name="sky-tabs" id="sky-tab3" class="sky-tab-content-3">
				<label for="sky-tab3"><span><span><i class="fa fa-cogs"></i>Student's Confidence</span></span></label>
				
				<input type="radio" name="sky-tabs" id="sky-tab4" class="sky-tab-content-4">
				<label for="sky-tab4"><span><span><i class="fa fa-globe"></i>Value of Math</span></span></label>
				
				<input type="radio" name="sky-tabs" id="sky-tab5" class="sky-tab-content-5">
				<label for="sky-tab5"><span><span><i class="fa fa-globe"></i>Presence of Televison</span></span></label>
				
				<input type="radio" name="sky-tabs" id="sky-tab6" class="sky-tab-content-6">
				<label for="sky-tab6"><span><span><i class="fa fa-globe"></i>Time Allocation</span></span></label>
				
				<ul>
					<li class="sky-tab-content-1">					
						<div class="typography">
							<h1>Data Visualization: PISA Project</h1>
							<center><h4>Granger Moch, Will Murphy </h4>
							<img src="http://1.bp.blogspot.com/-5eTMbWLt_UI/Up2kZ0AKQfI/AAAAAAAABuk/GT2-uuIktPs/s1600/logo_ocse_pisa.png" width=400 height= 450> </img> </center>
							<center><p>One subject of learning that the US has lagged behind in for several years is mathematics. Through this project, we explored why this is the case.</p></center>
							
						</div>
					</li>
					
					<li class="sky-tab-content-2">
						<div class="typography">
							<h1>Average Math Test Scores</h1>
							<iframe src="http://gballa50.github.io/googleVizrepo/avgmath.html" height="400" width="800" frameBorder="0"> </iframe>
							<p> This graph shows the average math test scores (using PV1MATH) and the apparent deficit for the US. Shanghai clearly outdoes the US average score by more than 100 points. Because this gap is a large one to undertake, we will instead explore the perceptions of a country who is within nearer reach– our friendly neighbors to the north, Canada. </p>
					
						</div>
					</li>
					
					<li class="sky-tab-content-3">
						<div class="typography">
							<h4>Student's Confidence</h4>
							<p>"Each week, your mathematics teacher gives a short quiz.
Recently you have done badly on these quizzes. Today you are trying to figure out why.
How likely are you to have these thoughts or feelings in this situation?" This graph shows student's assessment of the accuracy in the phrase: "I’m not very good at solving mathematics problems." Perceptions appear to be quite similar between the countries. </p>
							<center><iframe src="http://gballa50.github.io/googleVizrepo/confidencemath.html" height="590" width="800" frameBorder="0"> </iframe> </center>
				
						</div>
					</li>
					
					<li class="sky-tab-content-4">
						<div class="typography">
							<h4>Value of Math</h4>
							<p> The students between the two countries seem to project similar ideas of their parents' views of maths importance. </p>	
							<center><iframe src="http://gballa50.github.io/googleVizrepo/parentsview.html" height="650" width="1000" frameBorder="0"> </iframe> </center>
							</div>
					</li>
				
			<li class="sky-tab-content-5">
						<div class="typography">
							<h1>Presence of televisons a potential distraction</h1>
							<center><iframe src="http://gballa50.github.io/googleVizrepo/tvstackedbar.html" frameBorder="0" height="400" width="790"> </iframe></center>
							<p>This visualization shows televisions to be more predominant in the homes of Americans. A significantly higher percentage of Americans own three or more televisions. Additionally, a higher percentage of Canadians have only one television as well as a higher percentage of having no televisions at home. A case could be made, and many studies exist in support, that television has negative effects on learning processes. Unfortunately, American youth seem to have higher access to televisions at home. </p>
					
						</div>
					</li>	
					
					<li class="sky-tab-content-6">
						<div class="typography">
							<h1>Math Time</h1>
						<center><img src="http://i936.photobucket.com/albums/ad207/Granger_Moch/mathTimeboxplot_zpsd5bcc136.png" border="0" height="450" width="450" alt="boxplot photo mathTimeboxplot_zpsd5bcc136.png"/></a></center>
							<p> This boxplot shows responses to a question inquiring the number of minutes spent in math class. It reveals a lower median time for the US, suggesting the US should allocate additional time to Math classes. </p>
								<a href= "http://gballa50.github.io/PISAPROJECT/templates/pisaprezpage2.html"> <h4 style="text-align:right"> Page 2 </h4></a>
					
						</div>
					</li>
									
				</ul>
			
			
			
			<!--/ tabs -->
			
	</body>
</html>