<!DOCTYPE html> 
<html>
	<head>
		<meta charset="utf-8">		
		<title>Data Visualization Project Page 2</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
		
		<link rel="stylesheet" href="css/demo.css">
		<link rel="stylesheet" href="css/font-awesome.css">
		<link rel="stylesheet" href="css/sky-tabs.css">
		
		<!--[if lt IE 9]>
			<link rel="stylesheet" href="css/sky-tabs-ie8.css">
			<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
			<script src="js/sky-tabs-ie8.js"></script>
		<![endif]-->
	</head>
	<body class="bg-cyan">
		<div class="body">
		
			<!-- tabs -->
			<h4><a href="http://gballa50.github.io/PISAPROJECT/templates/pisaprezpage1.html"> Back to home </a></h4>
			<div class="sky-tabs sky-tabs-pos-left sky-tabs-anim-flip sky-tabs-response-to-icons">
				<input type="radio" name="sky-tabs" checked id="sky-tab1" class="sky-tab-content-1">
				<label for="sky-tab1"><span><span><i class="fa fa-bolt"></i>Is Math Worthwhile</span></span></label>
				
				<input type="radio" name="sky-tabs" id="sky-tab2" class="sky-tab-content-2">
				<label for="sky-tab2"><span><span><i class="fa fa-picture-o"></i>Math Study Habits</span></span></label>
				
				<input type="radio" name="sky-tabs" id="sky-tab3" class="sky-tab-content-3">
				<label for="sky-tab3"><span><span><i class="fa fa-cogs"></i>Conclusion/ Proposed Solution</span></span></label>

				<input type="radio" name="sky-tabs" id="sky-tab4" class="sky-tab-content-4">
				<label for="sky-tab4"><span><span><i class="fa fa-globe"></i>Special Treat</span></span></label>
			
				<ul>
					<li class="sky-tab-content-1">					
						<div class="typography">
							<h4>Is Math Worthwhile?</h4>
							
<img src="http://i936.photobucket.com/albums/ad207/Granger_Moch/math1_zps05bae028.png" border="0" height="420" width="815" alt="math1 photo math1_zps05bae028.png"/></a>
<p> This graph shows the comparison between the student responses from the US and Canada to the question “Learning math is worthwhile because it will improve my career chances”. We can see that there is not much of a difference although interestingly the US has a higher percentage of responses of “Strongly Agree” and “Agree” than Canada has, even though Canada’s test scores are higher.
</p>
							
						</div>
					</li>
					
					<li class="sky-tab-content-2">
						<div class="typography">
							<h4>Math Study Habits</h4>
						<img src="http://i936.photobucket.com/albums/ad207/Granger_Moch/math2_zps734fc476.png" border="0" alt=" photo math2_zps734fc476.png" height="420" width="750"/>
<center><p> This second graph shows the comparison between their responses to the question “I keep studying the math material until I understand it”. The US has a lower percentage of “Agree” and “Strongly Agree” compared to Canada and has a higher percentage of “Disagree” and “Strongly Disagree”. This shows that the US students on average are not studying until they fully grasp the material that they are studying when it comes to math, even though the previous graph showed that the US students consider 
math important for their careers more so than Canadians.</p></center>
					
						</div>
					</li>
					
					<li class="sky-tab-content-3">
						<div class="typography">
							<h1>Conclusion</h1>
							</br>
							</br>
										<center><h4> We can come to the conclusion that the fact that Canadian students are spending more time on math and fully understanding the material which is likely the cause of their higher math scores when compared to US students. Our suggestion for the US would be to increase the length of math classes so that students can spend more time on the material in order to more fully understand it. This would likely increase the US test scores. </h4></center>
							
						</div>
					</li>
					
					<li class="sky-tab-content-4">
						<div class="typography">
							<h4>Special Treat:</h4> </br>
							<p>Below, is a formal demonstration of the unforgivable sin– 3D Pie Charts</p>
</br>
							
							<img src="http://gballa50.github.io/PISAPROJECT/pie.png" border="0" height="400" width="600"/>

							<h4> FIN. </h4>
							</div>
					</li>				
				</ul>
			
			
			
			<!--/ tabs -->

	</body>
</html>